.container {
  height: 100vh;
  margin: 0 auto;
  padding: 0 1.25rem; 
}
.wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}

.slider {
  max-width: 43.75rem;
  overflow: hidden;
  outline: 1px solid black;
}

.slide-wrapper {
  display: flex;
  transform: translateX(0px);
  height: 100%;
  height: 25rem;
  transition: all .3s;
}

.slide {
  height: 100%;
}

.slide img {
  width: 100%;
  height: 25rem;
}

.slide__text {
  padding-left: 1.25rem;
}

.pointer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
}

.pointer {
  display: flex;
}

.point {
  width: 1.5625rem;
  height: 1.5625rem;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  padding-left: 5px;
}

.point:hover div {
  background: rgb(198, 198, 198);
  outline: 1px solid rgb(255, 55, 0);
}

.point div {
  position: relative;
  z-index: -1;
  background: rgb(255, 55, 0);
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  transition: all .3s;
}

.point--active div {
  background: none;
  outline: 1px solid rgb(255, 55, 0);
}
.point--active:hover div {
  background: none;
  outline: 1px solid rgb(255, 55, 0);
}


.text-mems {
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9em;
  overflow: hidden;
}

.wrapper-text {
  display: flex;
  transition: all .3s;
}

@media screen and (max-width: 500px) {
  .slide-wrapper {
    height: 250px;
  }

  .slide img {
    height: 15.625rem;
  }

  .pointer-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-flow: wrap-reverse;
  }

  .pointer {
    order: 1;
  }

}